.confirmed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 128px 24px;
  background-color: #495e5748;
}

.titleComment{
  color: #333333;
  text-align: center;
  margin: 0px;
}

.testimonials {
  display: flex;
  justify-content: space-around;
}
